/* //////////////////////////////////////////////////////       HEADER   ///////////////////////////////////////////////////// */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  border: none !important;
}

.navbar-brand {
    margin-right: 240px;
}

.epadoca-logo {
  width: 300px !important;
  height: 69.72px !important;
}

.navbar-nav {
    display: flex;
    align-items:center;
    gap: 30px;
}

.nav-link {
  transition: all ease 0.2s;
  color: #ffad02 !important;
  font-family: "Montserrat" sans-serif;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 475px) {
  .epadoca-logo {
    width: 200px !important;
    object-fit: contain;
  }

  a.navbar-brand {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 1px !important;
  }

  a.navbar-brand {
    margin-right: 30px !important;
  }
}

@media (max-width: 575px) {
  .navbar {
    padding: 20px !important;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    width: 100% !important;

    align-self: center;
  }

  .nav-item:hover {
    background: black;
  }

  .nav-link {
    align-self: center !important;
  }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////       MAIN   ///////////////////////////////////////////////////// */

.main {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  min-height: 100vh !important;
  background: #E9ECEF;
 

 
}

.cotainerFlexColumn {
  display: flex;
  min-height: 100vh !important; 

  flex-direction: column;
  
  gap: 20px;
}

.containerFlexRow {
    display: flex;

}

.firstContainer {
    display: flex;
    flex-direction: column;
  height: 100vh;
  width: 100% !important;
  padding: 80px 200px;
}

.title {
    display :flex;
    flex-direction: column;
    font-size:47px;
    margin-bottom: 40px;
}

.titleText {
    max-width: 600px;
}

.paragraph {
    display :flex;
    flex-direction: column;
    gap: 60px;

    font-size: 22px;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgb(21 4 4 / 15%);
}

.strongColor { 
  color: #ffad02;
}



.strongTitle {
    color: #FFAD02;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.containerImage {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items:center;

    width: 100%;
    
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  
}

.orangeSection {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;

  min-height: 200px;
  padding: 10px 170px;
  background: #FFAD00;
}

.imgContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.imgOrangeSecion {
  max-width: 89px;
  max-height: 89px;
}

.imgDescription {
  color: black;
  font-size: 21px;
}

@media (max-width: 1024px) {
  .containerImage {
    margin-top: 100px;
  }


  .image {
    max-width: 378px;
 
  
  }
    .containerFlexRow {
        flex-direction: column;
    }
    
  .firstContainer, .title {

    padding: 20px;
    text-align:center;
  }

  .orangeSection {
    padding: 10px 40px;
  }
}


@media (max-width: 475px) {
  .containerImage {
    margin-top: 200px;
    align-items: center;
  }

  .orangeSection { 
    justify-content: center;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
