@{
    ViewData["Title"] = "Home Page";
}

<div class="containerFlex">

<div class="firstContainer ">

    <div class="title">
    <h1 class="titleText">A Melhor Plataforma Digital <strong class="strongTitle">Para Padarias!</strong></h1>
    </div>

    <div class="paragrah">
    <p><strong>Cresça o seu faturamento, fuja de taxas de aplicativos</strong> e tenha um App + Site de Vendas Online de primeira linha.</p>
    <p>Somos a <strong>epadoca</strong> e vamos ajudar a sua padaria a atingir outro patamar de vendas.</p>
    </div>

</div>

    <div class="containerImage">
        <img src="./img/bakker.png" alt="bakker-img" class="image">
    </div>

</div>
