@{
    ViewData["Title"] = "Home Page";
}

<div class="cotainerFlexColumn">
<div class="containerFlexRow">

<div class="firstContainer ">

    <div class="title">
    <h1 class="titleText">A Melhor Plataforma Digital <strong class="strongTitle">Para Padarias!</strong></h1>
    </div>

    <div class="paragraph">
    <p><strong>Cresça o seu faturamento, fuja de taxas de aplicativos</strong> e tenha um App + Site de Vendas Online de primeira linha.</p>
    <p>Somos a <strong><strong class="strongColor">e</strong>padoca</strong> e vamos ajudar a sua padaria a atingir outro patamar de vendas.</p>
    </div>
</div>

    <div class="containerImage">
        <img src="./img/bakker.png" alt="bakker-img" class="image">
    </div>

</div>

<div class="orangeSection">
    <div class="imgContainer">
        <img class="imgOrangeSecion" src="./img/aumento-de-vendas.png" alt="vendas">
        <p class="imgDescription"><strong>Aumento de Vendas</strong></p>
        </div>
    <div class="imgContainer">
        <img class="imgOrangeSecion" src="./img/fidelizacao-de-cliente.png" alt="fidelizacao">
        <p class="imgDescription"><strong>Fidelização de Clientes</strong></p>
        </div>
    <div class="imgContainer">
        <img class="imgOrangeSecion" src="./img/reducao-de-custos.png" alt="reducao">
        <p class="imgDescription"><strong>Redução de Custos</strong></p>
        </div>
    <div class="imgContainer">
        <img class="imgOrangeSecion" src="./img/marketing-digital.png" alt="marketing">
        <p class="imgDescription"><strong>Marketing Digital</strong></p>
        </div>
</div>

</div>
